<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE MudletPackage>

<!--
  Morgengrauen Mapper Scripts
  von Talanis@MorgenGrauen

  TODO:
  * Speedwalking
  * Manuelles Editieren der Map mit diversen Befehlen ermoeglichen
  * Raeume ohne Raum-ID mappen. Wie?
  * Parallelwelten
  * Taggen von Raeumen mit einem Namen, zum schnellen anlaufen
-->

<MudletPackage version="1.0">
    <!-- SCRIPTS -->
    <ScriptPackage>
        <Script isActive="yes" isFolder="no">
            <name>Konfiguration</name>
            <packageName></packageName>
            <script><![CDATA[
mapperconf = {}

-------------------------------------------------------
-- Benutzerdefinierte Einstellungen fuer den Mapper. --
-------------------------------------------------------

-- Farbe fuer Mitteilungen des Mappers
mapperconf.color = "blue"
                    ]]>
            </script>
        </Script>
        <Script isActive="yes" isFolder="no">
            <name>Initialisierung</name>
            <packageName></packageName>
            <script><![CDATA[
mudlet = mudlet or {}
mudlet.mapper_script = true

mapper = {}

mapper.mode = "fix"
mapper.currentHash = nil
mapper.currentArea = "world"

function echoM(str)
    fg(mapperconf.color)
    echo("[MAPPER] " .. str .. "\n")
    resetFormat()
end
                    ]]>
            </script>
        </Script>
        <Script isActive="yes" isFolder="no">
            <name>Areas</name>
            <packageName></packageName>
            <script><![CDATA[
-- Sucht die Area-ID fuer eine Area bzw. erstellt bei bedarf
-- eine neue Area.
function findArea(name)
    local areas = getAreaTable()
    if areas[name] == nil then
        return addAreaName(name)
    else
        return areas[name]
    end
end
                    ]]>
            </script>
        </Script>
        <Script isActive="yes" isFolder="no">
            <name>Modes</name>
            <packageName></packageName>
            <script><![CDATA[
-- Aendert den Mapper Mode und gibt eine entsprechende Meldung aus.
function setMapperMode(mode)
    if mode == "fix" or mode == "auto" then
        echoM("Aendere Mapper-Modus nach: " .. mode)
        mapper.mode = mode
    else
        echoM("Fehler: Unbekannter Modus '" .. mode "'")
    end
end
                    ]]>
            </script>
        </Script>
        <Script isActive="yes" isFolder="no">
            <name>Ausgaenge</name>
            <packageName></packageName>
            <script><![CDATA[
mapper.exitmap =
    { n = 1
    , no = 2
    , nw = 3
    , o = 4
    , w = 5
    , s = 6
    , so = 7
    , sw = 8
    , ob = 9
    , u = 10
    , rein = 11
    , raus = 12
    , [1] = "n"
    , [2] = "no"
    , [3] = "nw"
    , [4] = "o"
    , [5] = "w"
    , [6] = "s"
    , [7] = "so"
    , [8] = "sw"
    , [9] = "ob"
    , [10] = "u"
    , [11] = "rein"
    , [12] = "raus"
    , norden = 1
    , nordosten = 2
    , nordwesten = 3
    , osten = 4
    , westen = 5
    , sueden = 6
    , suedosten = 7
    , suedwesten = 8
    , oben = 9
    , unten = 10
    }

mapper.intexitmap =
    { north = 1
    , northeast = 2
    , northwest = 3
    , east = 4
    , west = 5
    , south = 6
    , southeast = 7
    , southwest = 8
    , up = 9
    , down = 10
    , ["in"] = 11
    , out = 12
    , [1] = "north"
    , [2] = "northeast"
    , [3] = "northwest"
    , [4] = "east"
    , [5] = "west"
    , [6] = "south"
    , [7] = "southeast"
    , [8] = "southwest"
    , [9] = "up"
    , [10] = "down"
    , [11] = "in"
    , [12] = "out"
    , n = 1
    , ne = 2
    , nw = 3
    , e = 4
    , w = 5
    , s = 6
    , se = 7
    , sw = 8
    }

-- Der ganze Kram hier ist dazu da, verschiedene Repraesentationen der
-- Standardausgaenge ineinander zu konvertieren. Standardausgaenge
-- koennen auf drei Arten repraesentiert sein:
-- 
-- * Loc(al):    Die deutschen Abkuerzungen, die auch im MUD verwendet werden.
-- * Int(ernal): Englische Langversionen ("east", "west", etc.). Wird z.B. von
--               getRoomExits zurueckgegeben.
-- * Num(eric):  Numerische Repraesentationen der Standardausgaenge von 1-12
--               (siehe mapper.exitmap und mapper.intexitmap)

function exitNum2Int(n) return mapper.intexitmap[n] end
function exitNum2Loc(n) return mapper.exitmap[n] end
function exitInt2Loc(n) return mapper.exitmap[mapper.intexitmap[n]] end
function exitInt2Num(n) return mapper.intexitmap[n] end
function exitLoc2Int(n) return mapper.intexitmap[mapper.exitmap[n]] end
function exitLoc2Num(n) return mapper.exitmap[n] end

function isSpecialExit(name) return mapper.exitmap[name] == nil end

-- Zur Positionierung neuer Raeume. Weist jeder Standardrichtung ein
-- Koordinatendelta zu.
function getExitCoordinates(name)
    local d = 5 -- Delta fuer groessere Abstaende zwischen Raeumen.
    if name == "n" or name == "norden" then
        return 0, d, 0
    elseif name == "no" or name == "nordosten" then
        return d, d, 0
    elseif name == "o" or name == "osten" then
        return d, 0, 0
    elseif name == "so" or name == "suedosten" then
        return d, -d, 0
    elseif name == "s" or name == "sueden" then
        return 0, -d, 0
    elseif name == "sw" or name == "suedwesten" then
        return -d, -d, 0
    elseif name == "w" or name == "westen" then
        return -d, 0, 0
    elseif name == "nw" or name == "nordwesten" then
        return -d, d, 0
    elseif name == "ob" or name == "oben" then
        return 0, 0, 1
    elseif name == "u" or name == "unten" then
        return 0, 0, -1
    else
        return 0, 0, 0
    end
end

-- Baut (je nach Name) einen Standard- oder Spezialausgang.
function addAnyExit(src, tgt, name)
    if isSpecialExit(name) then
        addSpecialExit(src, tgt, name)
        echoM("Erstelle speziellen Ausgang.\n  Quelle: " .. src .. "\n  Ziel:   " .. tgt .. "\n  Befehl: " .. name)
    else
        setExit(src, tgt, exitLoc2Num(name))
        echoM("Erstelle Ausgang.\n  Quelle: " .. src .. "\n  Ziel:   " .. tgt .. "\n  Befehl: " .. name)
    end
end

-- Sucht in einem Raum nach einem Ausgang mit einem bestimmten Namen.
function getAnyExit(room, name)
    if isSpecialExit(name) then
        return getSpecialExitsSwap(room)[name]
    else
        return getRoomExits(room)[exitLoc2Int(name)]
    end
end

-- Erstellt einen neuen Raum mit Area und Hash und gibt eine Meldung aus.
function createRoom(area, hash)
    local newRoom = createRoomID()
    addRoom(newRoom)
    setRoomArea(newRoom, findArea(area))
    setRoomIDbyHash(newRoom, hash)
    echoM("Erstelle Raum.\n  Area: " .. area .. "\n  Hash: " .. hash)
    return newRoom
end
                    ]]>
            </script>
        </Script>
        <Script isActive="yes" isFolder="no">
            <name>handleRoomInfo</name>
            <packageName></packageName>
            <eventHandlerList>
                <string>gmcp.MG.room.info</string>
            </eventHandlerList>
            <script><![CDATA[
-- Handler fuer gmcp.MG.room.info
-- Hier werden Raeume gebaut, Ausgaenge verbunden und die aktuelle Position in der Map
-- gesetzt.
function handleRoomInfo()
    local hash = gmcp.MG.room.info.id

    -- Manchmal kam das irgendwie doppelt. Fangen wir hier ab.
    if hash == mapper.currentHash then
        return true
    end

    mapper.currentHash = hash

    local exitname = command
    local knownRoom = getRoomIDbyHash(hash)

    if mapper.mode == "auto" then
        -- Raeume ohne Raum-ID kann der Automapper nicht.
        if hash == "" or hash == nil then
            echoM("Keine Raum-ID gefunden. Deaktiviere auto-mapper.")
            setMapperMode("fix")
            return true
        end

        mapper.synchronized = false

        if knownRoom == -1 then
            -- Neuer Raum ist nicht bekannt. Erstelle Raum und entsprechenden Ausgang

            local newRoom = createRoom(mapper.currentArea, hash)
            local roomName = gmcp.MG.room.info.short
            setRoomName(newRoom, roomName)

            local x,y,z = getRoomCoordinates(mapper.currentRoom)
            local dx,dy,dz = getExitCoordinates(exitname)
            setRoomCoordinates(newRoom, x+dx, y+dy, z+dz)

            addAnyExit(mapper.currentRoom, newRoom, exitname)
            mapper.currentRoom = newRoom
            centerview(mapper.currentRoom)
        else
            -- Neuer Raum ist bekannt. Erstelle nur einen Ausgang.

            if not getAnyExit(mapper.currentRoom, exitname) then
                addAnyExit(mapper.currentRoom, knownRoom, exitname)
            end

            mapper.currentRoom = knownRoom
            mapper.currentArea = getRoomAreaName(getRoomArea(mapper.currentRoom))
            centerview(mapper.currentRoom)
        end
    elseif mapper.mode == "fix" then
        -- fix-Modus. Nur den aktuellen Raum setzen.
        if knownRoom > -1 then
            mapper.currentRoom = knownRoom
            mapper.currentArea = getRoomAreaName(getRoomArea(mapper.currentRoom))
            centerview(mapper.currentRoom)
        end
    end
end
                    ]]>
            </script>
        </Script>
        <Script isActive="yes" isFolder="no">
            <name>doSpeedWalk</name>
            <packageName/>
            <eventHandlerList/>
            <script><![CDATA[
function doSpeedWalk()
    send("ultrakurz", false)
    for i,d in ipairs(speedWalkDir) do
        send(exitInt2Loc(d), false)
    end
    send("lang", false)
    send("schau", false)
end
                ]]>
            </script>
        </Script>
    </ScriptPackage>

    <!-- ALIASES -->
    <AliasPackage>
        <AliasGroup isActive="yes" isFolder="yes">
            <name>Befehle</name>
            <script></script>
            <command></command>
            <packageName></packageName>
            <regex></regex>
            <Alias isActive="yes" isFolder="no">
                <name>mmode</name>
                <command></command>
                <packageName></packageName>
                <regex>^mmode (.+)$</regex>
                <script><![CDATA[
setMapperMode(matches[2])
                    ]]>
                </script>
            </Alias>
            <Alias isActive="yes" isFolder="no">
                <name>marea</name>
                <command></command>
                <packageName></packageName>
                <regex>^marea (.+)$</regex>
                <script><![CDATA[
mapper.currentArea = matches[2]
echoM("Current Area: " .. mapper.currentArea)
                    ]]>
                </script>
            </Alias>
            <Alias isActive="yes" isFolder="no">
                <name>minit</name>
                <command></command>
                <packageName></packageName>
                <regex>^minit$</regex>
                <script><![CDATA[
-- Dies setzt die Karte auf Werkszustand zurueck.

for i,name in pairs(getRooms()) do
    deleteRoom(i)
end

addRoom(1)
setRoomArea(1, findArea("world"))
setRoomIDbyHash(1, mapper.currentHash)
mapper.currentRoom = 1
centerview(1)

echoM("Neue Map initialisiert.")
                    ]]>
                </script>
            </Alias>
            <Alias isActive="yes" isFolder="no">
                <name>mhilfe</name>
                <command></command>
                <packageName></packageName>
                <regex>^mhilfe$</regex>
                <script><![CDATA[
local helptext = [[
  MORGENGRAUEN MAPPER SCHNELLEINSTIEG
  -----------------------------------

0. Konfiguration

    Das Skript "Konfiguration" kann vom Benutzer angepasst werden. Hier werden
    Dinge eingestellt wie z.B. die Farbe der Meldungen des Mappers.

1. Karte initialisieren

    Mit dem Befehl 'minit' wird eine frische neue Karte erstellt. Muss vor der
    ersten Benutzung des Mappers einmalig ausgefuehrt werden.

    Achtung! Dieser Befehl loescht ohne Nachfrage oder Reue die komplette Karte!

2. Mapper Modi

    Momentan beherrscht der Mapper zwei Arbeitsmodi: fix und auto.

    - fix:  Der Standardmodus. Die Map wird nicht veraendert. Falls der aktuelle
            Raum bekannt ist, wird die Position im Map-Fenster angezeigt.

    - auto: Auto-Mapping-Modus. Der Mapper versucht (mithilfe von GMCP-Raum-IDs)
            automatisch eine Karte aufzubauen (siehe unten).

    Mit dem Befehl 'mmode <fixed|auto>' kann zwischen den Modi gewechselt werden.

3. Der Automapper

    Der Automapper kann die vom MUD gesendeten Raum-IDs dazu verwenden,
    automatisch eine Karte aufzubauen. Dies geschieht wie folgt:

    *  Zuerst muss Automapper per 'mmode auto' aktiviert werden. Dies funktioniert
       nur, wenn die Position im MUD mit der aktuellen Position auf der Karte
       uebereinstimmt (da die Karte sonst inkonsistent wuerde).

    *  Bewegt man sich nun in den naechsten Raum, wird in der entsprechenden
       Richtung ein weiterer Raum erzeugt und eine Verbindung in diese Richtung
       erzeugt.

    *  Der Mapper kann (mithilfe von Raum-IDs) erkennen, wenn z.B. ein
       Kreisfoermiger Weg vorliegt, also wenn ein bisher unbekannter Ausgang
       in einen bekannten Raum fuehrt und wird die Verbindungen entsprechend
       Einrichten.

    *  Achtung! Die allermeisten Ausgaenge haben Rueckwege in genau der
       entgegengesetzten Richtung. Da das jedoch nicht immer der Fall ist,
       wird jede der beiden Richtungen als SEPARATE Verbindung behandelt.
       Sind z.B. Raum A und Raum B auf einer Nord-Sued-Achse in beide Richtungen
       verbunden, so existieren zwei Verbindungen. Eine von A nach B namens "s"
       und eine von B nach A namens "n".
       Diese Rueckwege werden vom Automapper nicht automatisch erstellt. Der erste
       Raumwechsel erzeugt also nur eine Verbindung in eine Richtung. Um den Rueck-
       weg auch zu verbinden, muss man zusaetzlich noch einen Schritt in die
       Gegenrichtung machen. Damit hat man dann eine Zwei-Wege-Verbindung.

    *  Da der Automapper sehr von den Raum-IDs abhaengig ist, kann er nicht mit
       Raeumen umgehen, die diese IDs nicht senden. Das ist z.B. bei vielen
       Labyrinthen der Fall, allerdings auch, wenn man z.B. blind ist oder der
       Raum zu dunkel ist (zum Mappen also immer Lichtquelle und Augenlicht
       dabeihaben ;)) Der Automapper wird sich in so einem Fall selbst deaktivieren
       und eine entsprechende Meldung ausgeben.

    *  Bei viel Lag wird man ebenfalls in Probleme beim Mappen laufen, da der
       Automapper nach jedem Schritt erst die Antwort des MUDs abwarten muss
       bevor er einen Raum / Ausgang erstellen kann. Waehrend dieser Zeit darf man
       keine weiteren Eingaben taetigen! (Also, beim Automappen einfach immer warten,
       bis die Raumbeschreibung ankommt)

4. Areas

    Karten in einem MUD koennen 1. sehr sehr gross werden und 2. nicht immer geometrisch
    plausibel sein. Das MG ist zwar in dieser Hinsicht recht ordentlich (die meisten
    Gegenden koennen sinnvoll auf einem karierten Papier aufgetragen werden), dennoch
    ist das nicht immer der Fall. Mudlet loest dieses Problem mit sog. 'Areas'.
    Eine Area ist ein zusammenhaengender Kartenabschnitt, der als Gesamtheit angezeigt wird,
    d.h. es macht Sinn, konsistenten Kartenabschnitten eine Area zuzuweisen und an Stellen,
    an denen "Brueche" in der Map sind eine neue Area anzufangen.
    Die Map-Ansicht in Mudlet wird immer nur die Area anzeigen, in der man sich gerade
    befindet. Wechselt man die Area, aendert sich auch der angezeigte Kartenabschnitt.
    Ausgaenge die in eine neue Area fuehren, werden als Pfeile angezeigt.

    Jeder Raum hat eine zugewiesene Area. Beim Mappen muss man darauf achten, dass diese
    Zuweisungen auch sinnvoll sind. Der Automapper besitzt immer eine "aktuelle Area",
    diese kann mit 'marea <name>' gesetzt werden. Immer wenn nun ein neuer Raum erstellt
    wird (siehe oben), wird diesem Raum die aktuelle Area zugewiesen.

    Betritt man einen bekannten Raum, so wird die aktuelle Area auf die Area des Raumes
    gesetzt. D.h. beim Automappen muss man nur darauf achten, 'marea <name>' auszufuehren,
    wenn man eine neue Area anfangen will. Macht man das nicht, so wird immer die aktuelle
    Area mit neuen Raeumen erweitert.
]]

echo(helptext .. "\n")
                    ]]>
                </script>
            </Alias>
        </AliasGroup>
    </AliasPackage>
