<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE MudletPackage>

<!--
     Benutzerdefinierte Einstellungen fuer die MG-Mudlet-Skripte.
-->

<MudletPackage version="1.0">
    <!-- SCRIPTS -->
    <ScriptPackage>
        <ScriptGroup isActive="yes" isFolder="yes">
            <name>Einstellungen</name>
            <packageName></packageName>
            <script></script>
            <eventHandlerList/>
            <Script isActive="yes" isFolder="no">
                <name>Farben</name>
                <packageName></packageName>
                <script><![CDATA[
farben = {}
farben.vg = 
  { komm = "cyan"
    ebenen = "magenta",
    info = "green",
    alarm = "white",
    script = "dark_green" }
farben.hg = 
  { komm = "black",
    ebenen = "black",
    info = "black", 
    alarm = "red",
    script = "black" }

-- komm: Kommunikation wie teile-mit
-- ebenen: Einfaerben der "normalen" Ebenen
-- info: Einfaerben von Informationen des Muds (Status Gegner)
-- alarm: Alarm-Nachrichten
-- script: Nachrichten, die nicht vom Mud, sondern von einem Script stammen.

-- Einstellungen fuer Farben Kampfscroll

function msg (type, what)
  -- setzt VG und HG je nach Typ der Kommunikation
  local vg = farben.vg[type]
  local hg = farben.hg[type]

  if vg and hg then
      cecho("<"..vg..":"..hg..">"..what)
  else
    echo(what)
  end
end
                    ]]>
                </script>
                <eventHandlerList/>
            </Script>
            <Script isActive="yes" isFolder="no">
                <name>Mapper</name>
                <packageName></packageName>
                <script><![CDATA[
mapperconf = {}

-------------------------------------------------------
-- Benutzerdefinierte Einstellungen fuer den Mapper. --
-------------------------------------------------------

-- Farbe fuer Mitteilungen des Mappers
mapperconf.color = "blue"
                    ]]>
                </script>
            </Script>
        </ScriptGroup>
    </ScriptPackage>
</MudletPackage>
